<div style="display: block">
    <mat-card class="example-card" [ngClass]="[item.priority]">
        <mat-card-header>
          <mat-card-title>
            <div class="todo-title">
              <div class="left" matBadge="{{ getOpenItemCount() }}">{{ item.title }}</div>              
              <div class="right">
                <mat-icon (click)="openDialog()">edit</mat-icon>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="deleteTodo()">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                  <button mat-menu-item (click)="openHistory()">
                    <mat-icon>history</mat-icon>
                    <span>Audit details</span>
                  </button>
                </mat-menu>
              </div>              
            </div>
          </mat-card-title>
          <mat-card-subtitle *ngIf="item.description"> {{ item.description }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <div class="action-wrapper">
            <mat-select [(ngModel)]="item.priority" (ngModelChange)="saveTodo()" placeholder="Priority" class="priority">
              <mat-option *ngFor="let option of priorities" [value]="option">{{option}}</mat-option>
            </mat-select>
            <div class="due-date">
                <ng-container *ngIf="item.dueBy">
                  <mat-chip selected  [class.redBg]="between((date(item.dueBy).getTime() - now.getTime())/day, Number.NEGATIVE_INFINITY, 1)" 
                                      [class.orangeBg]="between((date(item.dueBy).getTime() - now.getTime())/day, 2, 3)"
                                      [class.greenBg]="between((date(item.dueBy).getTime() - now.getTime())/day, 4, Number.POSITIVE_INFINITY)" >
                    {{ item.dueBy  | date }}
                  </mat-chip>
                </ng-container>
            </div>              
          </div>
          <mat-chip-list class="labels">
            <mat-chip  [ngClass]="[item.priority]" *ngFor="let label of item.labels">{{ util.findElementByProp(labels,'id',label).value }}</mat-chip>
          </mat-chip-list>
        </mat-card-actions>
    </mat-card>
</div>