<div class="container">
    <h3>Configure the tags for todo lists here</h3>
    <div class="">
    <mat-form-field class="label-list" appearance="fill">
        <mat-label>Tags</mat-label>
        <mat-chip-list #chipList multiple [formControl]="formControl">
        <mat-chip
            *ngFor="let tag of labels"
            [selected]="tag"
            [value]="tag.value"
            [removable]="true"
            [selectable]="true"
            (removed)="removeTag(tag)">
            {{ tag.value }}
            <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
        </mat-chip>
        <input
            placeholder="New tag..."
            [matChipInputFor]="chipList"
            (matChipInputTokenEnd)="addTagFromInput($event)">
        </mat-chip-list>
    </mat-form-field>
    
    </div>
</div>
