<div style="display: block" cdkDrag  >
    <mat-card class="example-card" [ngClass]="[item.priority]">
        <mat-card-header>
          <mat-card-title>
            <div class="todo-title">
              {{ item.title }}
              <mat-icon (click)="openDialog()">edit</mat-icon>
            </div>
          </mat-card-title>
          <mat-card-subtitle *ngIf="item.description"> {{ item.description }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content> 
          
        </mat-card-content>
        <mat-card-actions>
          <div class="action-wrapper">
            <mat-select [(ngModel)]="item.priority" placeholder="Priority" class="priority">
              <mat-option *ngFor="let option of priorities" [value]="option">{{option}}</mat-option>
            </mat-select>
            <div class="due-date">
                <ng-container *ngIf="item.dueBy">
                  {{ item.dueBy  | date }}
                </ng-container>
            </div>              
          </div>
          <mat-chip-list class="labels">
            <mat-chip  [ngClass]="[item.priority]" *ngFor="let label of item.labels">{{ util.findElementByProp(labels,'id',label).value }}</mat-chip>
          </mat-chip-list>
        </mat-card-actions>
    </mat-card>
</div>