// priority
$critical: #fc0524;
$high: #e77700;
$medium: #146d97;
$low: #2d2c2b;
$ignore: #014e02;

.CRITICAL {
  background-color: $critical;
}
.HIGH {
  background-color: $high;
}
.MEDIUM {
  background-color: $medium;
}
.LOW {
  background-color: $low;
}


.example-card {
    max-width: 400px;
  }