<h3 mat-dialog-title>
  <div class="title-section">
    <div class="left">       
      <span *ngIf="!isTitleInEditMode">
        {{ todo.title ? todo.title : 'Enter todo title'}}
      </span>
      <mat-icon (click)="isTitleInEditMode = !isTitleInEditMode" *ngIf="!isTitleInEditMode">edit</mat-icon>
      <ng-container *ngIf="isTitleInEditMode">
        <mat-form-field  appearance="fill" >
          <mat-label>Todo title</mat-label>
          <input matInput placeholder="Enter the title here" [(ngModel)]="todo.title" (keyup)="something($event, true)">
        </mat-form-field>
      </ng-container>
    </div>
    <div class="right">
      <mat-form-field appearance="fill">
        <mat-label>Due date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="todo.dueBy">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>    
  </div>
</h3>
<mat-dialog-content class="mat-typography">
  <div class="metadata-wrapper">
  <div class="options">
    <mat-select [(ngModel)]="todo.priority" placeholder="Priority" class="priority" (ngModelChange)="priorityChanged(todo.priority, $event)">
      <mat-option *ngFor="let option of data.priorities" [value]="option">{{option}}</mat-option>
    </mat-select>
    <mat-select [(ngModel)]="todo.status" placeholder="Status" class="status" (ngModelChange)="statusChangedChanged(todo.status, $event)">
      <mat-option *ngFor="let option of data.statuses" [value]="option">{{option}}</mat-option>
    </mat-select>
    <mat-select placeholder="labels" (selectionChange)="labelSelected($event)">
      <mat-option *ngFor="let label of labels" [value]="label.id">{{label.value}}</mat-option>
    </mat-select>    
  </div>
  <div class="labels">
    <div class="added-labels">
      <mat-chip-list aria-label="Labels">
        <mat-chip *ngFor="let chip of todo.labels" [ngClass]="[todo.priority]" (click)="addOptionBack(chip)">{{ util.findElementByProp(data.labels, 'id', chip).value }}</mat-chip>
      </mat-chip-list>
    </div>
    
  </div>
</div>
  <mat-form-field class="full-width" appearance="fill" >
    <mat-label>Enter new todo item here</mat-label>
    <input matInput placeholder="Ex Schedule appointment" [(ngModel)]="newTodoItem.description" (keyup)="something($event, false)">
  </mat-form-field>
  <div class="items-container" cdkDropList #itemsList="cdkDropList" [cdkDropListData]="todo.items"
    (cdkDropListDropped)="drop($event)">
    <div *ngFor="let item of todo.items | todoItemSort; let i = index" cdkDrag [cdkDragData]="item" class="todo-item">      
        <mat-checkbox [(ngModel)]="item.completed"> {{ item.description }} </mat-checkbox>        
        <div class="actions">
          <mat-form-field >
            <mat-label>Due date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="item.due" [max]="todo.dueBy">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-icon (click)="editItem(i)">edit</mat-icon>
          <mat-icon (click)="todo.items.splice(i,1)">delete</mat-icon>
        </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">  
  <div class="actions">
    <button mat-button mat-dialog-close (click)="closeDialog()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="saveChanges()">Save</button>
    <!-- [mat-dialog-close]="true"  -->
  </div>
  
</mat-dialog-actions>