.title-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    mat-icon {
        margin-left: 5px;
    }
    .left {
        display: flex;
        align-items: center;
        mat-form-field {
            font-size: 12px;
        }
    }
    .right {
        font-size: 12px;
    }
}
.metadata-wrapper {
    .options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        mat-select {
            flex-basis: 35%;
            margin: 0 10px;
        }
    }
    .labels {
        margin: 10px 0;
        display: flex;
        .added-labels {
            flex-basis: 70%;
        }        
        mat-chip {
            border: 1.5px solid;
        }
    }
}
.mat-typography{
    height: 66%;
}
.full-width{
    width: 100%;
}

:host ::ng-deep mat-checkbox.mat-checkbox-checked {
    text-decoration: line-through;
}

.items-container {
    .todo-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5px 0;
        width: 100%;
        padding: 0 5px;
    }
    
}