.wrapper{
  display: flex;
  flex-direction: column;
}
.filter-wrapper {
  margin: 1% 1.5%;
  mat-form-field {
    font-size: 10px;
  }
  .filter-content-wrapper {
    display: flex;
    justify-content: space-around;
  }
}

.todo-box-wrapper{
  display: flex;
  padding: 0 1%;
}

.container {
  width: 33%;
  max-width: 100%;
  margin: 0 5px;
  display: inline-block;
  vertical-align: top;
  .list-item-wrapper {
    display: flex;
    padding: 2px;
  }
  .list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    display: block;
    overflow: hidden;
    padding: 0 5px
  }
}



.list-item {
  flex-basis: 100%;
  padding: 4px 0;
  cursor: move;
  border-bottom: solid 1px #ccc;
  box-sizing: border-box;
  background: white;
  color: black;
  font-size: 14px;
}

.list-item:last-child {
  border: none;
}


.fab-new-todo {
  position: fixed;
  bottom: 5%;
  right: 3%;
}